%FN_PREFIX%function %FUNCTION_NAME%(%ARGS%) {
    const VM = new JSVM();VM.setBytecodeIntegrityKey('%BYTECODE_INTEGRITY_KEY%');VM.loadFromString('%BYTECODE%', '%ENCODING%');VM.loadDependencies(%DEPENDENCIES%);%RUNCMD%;
    return VM.registers[%OUTPUT_REGISTER%];
}
