%FN_PREFIX%function %FUNCTION_NAME%(%ARGS%) {
    %ARG_SCRAMBLE_SETUP%const VM = new __JSV_RUNTIME();%MEMORY_PROTECTION_SETUP%VM.setBytecodeIntegrityKey('%BYTECODE_INTEGRITY_KEY%');%ANTI_DEBUG_SETUP%VM.loadFromString('%BYTECODE%', '%ENCODING%');VM.loadDependencies(%DEPENDENCIES%);%RUNCMD%;
    return VM.read(%OUTPUT_REGISTER%);
}
