%FN_PREFIX%function %FUNCTION_NAME%(%ARGS%) {
    %ARG_SCRAMBLE_SETUP%var VM = __jsv_ilv_create();
    VM.loadDependencies(%DEPENDENCIES%);
    VM.write(__jsv_ilv_selectorReg, %FUNCTION_ID%);
    VM.write(__jsv_ilv_cffStateReg, __jsv_ilv_cffInitState);
    %CFF_INNER_PROGRAM%
    %RUNCMD%;
    var res = VM.read(%OUTPUT_REGISTER%);
    console.log('[DEBUG-ILV] Func=%FUNCTION_ID% OutReg=%OUTPUT_REGISTER% Val=' + res);
    return res;
}
