%FN_PREFIX%function %FUNCTION_NAME%(%ARGS%) {
    %ARG_SCRAMBLE_SETUP%var VM = __jsv_ilv_create();
    VM.loadDependencies(%DEPENDENCIES%);
    VM.write(%SELECTOR_REG%, %FUNCTION_ID%);
    VM.write(%CFF_STATE_REG%, %CFF_INITIAL_STATE%);
    %CFF_INNER_PROGRAM%
    %RUNCMD%;
    return VM.read(%OUTPUT_REGISTER%);
}
